div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
body{
    background-image: url('images/computer_image.avif');
    background-size: cover;
}
h1{
    text-align: center;
    text-decoration: underline;
    color: purple;
    text-transform: capitalize;
    background-color: white;
}